@model Category

<div class="continer">
    <form method="post" class="form-control">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" required value="@Model.Name"/>
        <br />
        <input type="submit" class="btn btn-info" value="Save"/>

    </form>
</div>